.floating-objects {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.floating-object {
  position: absolute;
  background: var(--floating-gradient);
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.15;
  animation: float 20s infinite ease-in-out;
}

.object-1 {
  width: 400px;
  height: 400px;
  top: 10%;
  left: 10%;
  animation-delay: 0s;
  animation-duration: 25s;
}

.object-2 {
  width: 300px;
  height: 300px;
  top: 60%;
  right: 15%;
  animation-delay: 3s;
  animation-duration: 22s;
}

.object-3 {
  width: 350px;
  height: 350px;
  bottom: 20%;
  left: 20%;
  animation-delay: 5s;
  animation-duration: 28s;
}

.object-4 {
  width: 250px;
  height: 250px;
  top: 40%;
  right: 30%;
  animation-delay: 7s;
  animation-duration: 20s;
}

.object-5 {
  width: 450px;
  height: 450px;
  top: 70%;
  left: 50%;
  animation-delay: 10s;
  animation-duration: 30s;
}

@keyframes float {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(50px, -50px) scale(1.1);
  }
  50% {
    transform: translate(-30px, 40px) scale(0.9);
  }
  75% {
    transform: translate(40px, 60px) scale(1.05);
  }
}

@media (max-width: 768px) {
  .floating-object {
    filter: blur(60px);
    opacity: 0.1;
  }
  
  .object-1,
  .object-2,
  .object-3,
  .object-4,
  .object-5 {
    width: 200px;
    height: 200px;
  }
}
